.hero-img {
  position: relative;
  margin-top: 30px;
}
.hero-wrapper {
  position: absolute;
  top: 102px;
  left: 135px;
}
.hero-header {
  width: 615px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;

  /* White */

  color: #ffffff;
}
.hero-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  /* White */

  color: #ffffff;
}
